<div data-role="header" id="Header">
	<h3>何をやってますか？</h3>
	<%= link_to 'ホーム', scopes_path %>
</div>

<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
	<%= notice %><%= alert %>
</p>

<div data-role="content">
	<ul data-role="listview">
		<% @scopes.each do |scope| %>
		<li>
			<%= link_to scope.hack_tags.last.name, scope %>
		</li>
		<% end %>
	</ul>
</div>
