<h1>Listing parties_hacktags</h1>

<table>
  <tr>
    <th>PartyID</th>
    <th>HackTagID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parties_hacktags.each do |parties_hacktag| %>
  <tr>
    <td>(PID:<%= parties_hacktag.party_id %>)</td>
    <td><%= HackTag.find(parties_hacktag.hack_tag_id).name %> <%= parties_hacktag.hack_tag_id %></td>
    <td><%= link_to 'Destroy', parties_hacktag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>