<div data-role="header" id="Header">
	<%= link_to "Back", :back %>
	<h1><%= @username %>さんはこんな感じ</h1>
</div>

<div data-role="content">
	<h2>実行回数</h2>
	<h2>応援回数</h2>
	
	<ul>
		<li>指導者</li>
		<li>先導者</li>
		<li>世話焼き</li>
		<li>Lazy</li>
	</ul>
	
</div>
