<p>こんにちは <%= @resource.email %>!</p>
<p>LazyHackersよりお知らせです。</p>
<p>
	以下のパスワードの再発行の手続きを行い、そのパスワードで今後はログインするようにしてください。
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>
	なお、このメールに覚えがない場合、他の方がメールアドレスを間違えて入力された可能性があります。
</p>
<p>パスワードを変更される必要はございませんので、ご安心ください。</p>